#set_orcid{
	border: 1px solid #D3D3D3;
	padding: .3em;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 1px 1px 3px #999;
	cursor: pointer;
	color: #999;
	font-weight: bold;
	font-size: .8em;
	line-height: 24px;
	vertical-align: middle;
}

#set_orcid:hover{
	border: 1px solid #338caf;
	color: #338caf;
}

#orcid-id-logo{
	display: block;
	margin: 0 .5em 0 0;
	padding: 0;
	float: left;
}

#orcid-info {
	float: right;
	margin-right: 8px;
	margin-top: 23px;
}

.about-orcid {
	overflow: hidden;
}

.orcid-popup {
	margin-left: 16px;
	font-family: inherit;
	font-size: 13px;
	overflow: hidden;
	white-space: normal;
}
.orcid-popup h1 {
	font-size: 140%;
	padding: 86px;
}

.orcid-popup li {
	margin-left: 5%;
	list-style-type: circle;
 }

.orcid-popup a {
	color: #0376a3;
}

.orcid_img {
	vertical-align: top;
	margin-top: -2px;
}

#unset_orcid {
	vertical-align: baseline;
}

#unset_orcid .icon-trash {
	bottom: 0.4px;
	position: relative;
}

#orcid_msg {
	margin-top: 12px;
}


